[package]
name = "static-serve"
version = "0.1.2"
edition = "2024"

[lints.clippy]
# Set the unwrap_used lint level to deny
unwrap_used = "deny"

[dependencies]
TinyUFO = "0.6.0"
axum = "0.8.6"
bstr = "1.12.0"
bytesize = "2.1.0"
humantime = "2.3.0"
mime_guess = "2.0.5"
num_cpus = "1.17.0"
once_cell = "1.21.3"
opendal = { version = "0.54.1", features = [
    "services-fs",
    "services-ftp",
    "services-gridfs",
    "services-s3",
    "layers-mime-guess",
] }
snafu = "0.8.9"
substring = "1.4.5"
time = "0.3.44"
tokio = { version = "1.48.0", features = ["rt-multi-thread", "signal"] }
tokio-util = { version = "0.7.16", features = ["compat"] }
tower = { version = "0.5.2", features = ["timeout"] }
tower-http = { version = "0.6.6", features = [
    "compression-br",
    "compression-gzip",
    "compression-zstd",
] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = ["local-time"] }
url = "2.5.7"
urlencoding = "2.1.3"

[profile.release]
codegen-units = 1
lto = true
strip = true
panic = "abort"
